.footer {
    width: 100vw;
    height: 3rem;
    background-color: var(--footer-bgc);
}

@media (min-width: 1200px) {
    .footer {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}