/* .loan-calculator */
 .loan-calculator {
     margin: 0 3rem;
     padding: 1.5rem;
 }
 @media (min-width: 768px) {
    .loan-calculator {
        background-color: var(--loan-calculator-panel-bgc);
        border-radius: 1rem;
    }
}


 .loan-calculator-header {
     font: 2rem var(--roboto);
     margin: 0 0 1rem 0;
 }
 /* #loan-slider */
 #loan-slider {
     margin: 0 0 2rem 0;
     appearance: none;
     width: 100%;
     max-width: 30rem;
     height: 1.5rem;
     background-color: rgb(201, 174, 142);
     opacity: 0.7;
     transition: opacity .2s;
 }

 #loan-slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     appearance: none;
     width: 3rem;
     height: 3rem;
     border: rgb(30, 30, 30) 1px solid;
     border-radius: 50%;
     background: var(--offer-overview-carousel-btn-bgc);
     cursor: pointer;
 }

 #loan-slider::-webkit-slider-thumb:focus {
     background-color: rgba(120, 120, 120, 0.75);
 }

 #loan-slider::-moz-range-thumb {
     width: 3rem;
     height: 3rem;
     cursor: pointer;
 }

 .input-container {
     margin: 1rem 0;
 }
 
 /* .loan-calculator */
 .loan-calculator label {
     display: inline-block;
     font: 1.5rem var(--roboto);
     min-width: 12rem;
 }

 .loan-calculator input,
 .loan-calculator select {
     width: 12rem;
     font: 1.2rem var(--roboto);
     padding: 0.5rem;
 }