:root {
    --header-color: rgb(121, 199, 223);
    --button-color: rgba(79, 156, 170, 0.815);
    --menu-list-color: rgb(148, 172, 204);
    --top-banner-elements-bgc: rgb(78, 188, 252);
    --top-banner-elements-color: rgba(245, 245, 245, 0.9);
    --offer-overwiew-bgc: rgba(230, 230, 230, 0.75);
    --offer-overview-carousel-item-bgc: rgba(250, 250, 250, 0.75);
    --offer-overview-carousel-btn-bgc: rgba(220, 220, 220, 0.75);
}